.tituloequipo {
    width: 100%;
    font-size: 2rem;
    line-height: 1.1;
    margin: 20px;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
 }
 
 .contenedor-principal{
     min-height: 600px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 40px;
     align-items: center;
     justify-content: center;
 }
 
 .contenedor-equipo{
     width: 30vw;
     height: 220px;
     margin-top: 5vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: white;
     box-shadow: 0px 3px 13px 1px rgb(0 0 0 / 9%);
    }
 
 .imagen-equipo{
     height: 100%;
     width: auto;
     flex-wrap: wrap;
 }
 
 .contenedor-texto-equipo{
     width: 100%;
     text-align: center;
     padding: 40px;
     font-weight: 400;
     line-height: 1.5rem;
 }
 
 .descripcion-equipo{
     width: 100%;
     font-size: 18px;
     text-align: center;
     padding: 20px;
     font-weight: 400;
     line-height: 1.8rem;
 }
 
 .nombre-equipo{
     font-size: 1.3rem; 
     margin-top: 1rem;
 }
 